%h1 This is the headline 1
%h2 This is the headline 2
%h3 This is the headline 3

%p= @time

%p test



= link_to 'Get to the show page', collector_show_path

%a { href: "#", title: "test"}

/ %a href="#" onclick="this.style.backgroundColor='#009900';this.style.color='#FFFFFF';" Paint it green